# Using Robinhood Data to Predict Returns
## Raj Patel

In [6]:
import os

from datetime import datetime

import pandas_datareader.data as web

f = web.DataReader("AAPL", "av-daily", start=datetime(2017, 2, 9),
                   end=datetime(2017, 5, 24),
                   api_key='HSCELO5YVMNA2EVG')

f

              open     high     low   close    volume
2017-02-09  131.65  132.445  131.12  132.42  28349859
2017-02-10  132.46  132.940  132.05  132.12  20065458
2017-02-13  133.08  133.820  132.75  133.29  23035421
2017-02-14  133.47  135.090  133.25  135.02  33226223
2017-02-15  135.52  136.270  134.62  135.51  35623100
...            ...      ...     ...     ...       ...
2017-05-18  151.27  153.340  151.13  152.54  33159664
2017-05-19  153.38  153.980  152.63  153.06  26733798
2017-05-22  154.00  154.580  152.91  153.99  22340069
2017-05-23  154.90  154.900  153.31  153.80  19430358
2017-05-24  153.84  154.170  152.67  153.34  19118319

[73 rows x 5 columns]